/* Reset some default styles */
body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  text-transform: uppercase;
}
header,
nav,
.contact-info {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  padding: 20px;
}

.column {
  padding: 15% 0 0 10%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
  img {
    width: 480px;
    height: auto;
  }
  .column {
    padding: 0;
  }
}
